{
  "extends": "react-native-wcandillon",
  "rules": {
    "camelcase": "off",
    "@typescript-eslint/camelcase": ["warn"]
  },
  "settings": {
    "import/resolver": {
      "babel-plugin-root-import": {
        "rootPathPrefix": "~",
        "rootPathSuffix": "src"
      }
    }
  }
}
